*{
	margin: 0;
	padding: 0;
	outline: 0;

	
}
@font-face {
  font-family: 'Acme';
  src: url('font/Acme-Regular.eot');
  src: url('font/Acme-Regular.woff2') format('woff2'),
       url('font/Acme-Regular.woff') format('woff'),
       url('font/Acme-Regular.ttf') format('truetype'),
       url('font/Acme-Regular.svg#Acme-Regular') format('svg'),
       url('font/Acme-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


body{
	display: inline-block;
	font-family: 'arial';
	font-size: 18px;
}
.log{
	display: flex;
	height: 175px;
	width: 100%;
	position: fixed;
	background: -webkit-linear-gradient(top, rgba(249,242,255,1) 0%,rgba(107,45,158,1) 0%,rgba(107,45,158,1) 62%,rgba(121,82,155,1) 85%,rgba(249,242,255,1) 99%);

}
.logo{
	background-image: url(img/logo.jpg);
	background-size: 125px 125px;
	width: 125px;
	height: 125px;
	margin: 20px 25px;
	border-radius: 10px;
}
form{
	font-family: 'Acme';
	position: absolute;
	width: auto;
	right: 25px;
	top: 25px;
	bottom: auto;
	background-color: rgba(0,0,0,0.25);
	border-radius:10px; 
	padding: 20px;
}
input{
	display: block;
	margin: 2px;
}
.sidebar{
	position: fixed;
	top: 175px;
	width: 175px;
	height: auto;
	/*background-color: rgb(110, 48, 159);*/
	
}
a{
	text-decoration: none;
}
ul{
	
	width: auto;
	margin-left: 50px;
}
h1{
	font-family: 'Acme';
	font-size: 40px;
}
li{
	font-family: 'Acme';
	font-size: 20px;


}
.content{
	display:inline-block;
	position: static;
	margin-left:  175px;
	margin-top: 175px;
	padding: 10px;


}
img{
	size: auto;
	width: 100%;
	border-radius:10px;
	
}
footer{
	font-family: 'Acme';
	position: absolute;
	display: inline-flex;
	width: 100%;
	height: auto;
	
}
.footer1{
	position: absolute;
background: -webkit-linear-gradient(top, rgba(249,242,255,1) 0%,rgba(249,242,255,1) 0%,rgba(121,82,155,1) 22%,rgba(121,82,155,1) 22%,rgba(107,45,158,1) 41%,rgba(107,45,158,1) 100%);
	width: auto;
	top:25px;
	padding: 30px 0px;
	width: 100%

}
.footer2{
	position: absolute;
	padding: 30px 30px 0px 0px;
	right: 25px;
	top:auto;
/*background: -webkit-linear-gradient(top, rgba(249,242,255,1) 0%,rgba(249,242,255,1) 0%,rgba(121,82,155,1) 22%,rgba(121,82,155,1) 22%,rgba(107,45,158,1) 41%,rgba(107,45,158,1) 100%);*/
}
